* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    padding: 10px;
}

.container a:first-child {
    font-size: 20px;
    width: 110px;
    height: 40px;
    padding: 10px;
    background-color: red;
}

.container a {
    font-size: 10px;
    padding-left: 20px;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
}

.container a i {
    padding-right: 5px;
    align-items: center;
}

.container a:nth-child(9) {
    width: 110px;
    height: 15px;
    background-color: red;
    padding: 2px;
    display: flex;
    margin: 12px;
    border-radius: 3px;
}

.container a :nth-child(11) {
   margin-left: 10px;
   margin-right: 15px;
}